# api
NODE_ENV=
PORT=

# db
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_SSL=
DATABASE_LOGGING=

# localstack
AWS_REGION=
AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
LOCALSTACK_PORT=

# sqs
SQS_WAGER_TRANSACTIONS_QUEUE_NAME=
SQS_WAGER_TRANSACTIONS_DLQ_QUEUE_NAME=
SQS_WAGER_TRANSACTION_EVENTS_QUEUE_NAME=
SQS_WAGER_TRANSACTION_EVENTS_DLQ_QUEUE_NAME=
